Bazham Khanatayev \
Data 512 HW_2 \
10.15.2023 \
The purpose of this notebook is to clean and prepare the data for analysis.

In [1]:
import pandas as pd

Region DF Cleanup

In [2]:
df_regions = pd.read_excel("Clean US States by Region - US Census Bureau.xlsx")

In [3]:
df_regions

       REGION     DIVISION          STATE
0   Northeast          NaN            NaN
1   Northeast  New England            NaN
2   Northeast  New England    Connecticut
3   Northeast  New England          Maine
4   Northeast  New England  Massachusetts
..        ...          ...            ...
58       West      Pacific         Alaska
59       West      Pacific     California
60       West      Pacific         Hawaii
61       West      Pacific         Oregon
62       West      Pacific     Washington

[63 rows x 3 columns]

In [ ]:
import pandas as pd

In [4]:
# Remove rows with NaN values in any column
df_regions = df_regions.dropna()

It would make sense that we have 50 rows, one for each state

In [6]:
df_regions.shape

(50, 3)

Population Data Preparation

In [9]:
df_pop_states = pd.read_excel("NST-EST2022-POP_Clean.xlsx", skiprows = 1)

We are going to take the top 5 rows and move them into a new df. The top 5 rows only show regional and country information and not state information. It is still useful to store this information for future comparisons.

In [12]:
df_pop_regions = df_pop_states.iloc[:5].copy()

In [13]:
df_pop_states = df_pop_states.iloc[5:].reset_index(drop=True)

In [16]:
df_pop_regions

,Geographic Area,"April 1, 2020 Estimates Base",2020,2021,2022
0,United States,331449520,331511512,332031554,333287557
1,Northeast,57609156,57448898,57259257,57040406
2,Midwest,68985537,68961043,68836505,68787595
3,South,126266262,126450613,127346029,128716192
4,West,78588565,78650958,78589763,78743364

In [15]:
df_pop_states

,Geographic Area,"April 1, 2020 Estimates Base",2020,2021,2022
0,.Alabama,5024356,5031362,5049846,5074296
1,.Alaska,733378,732923,734182,733583
2,.Arizona,7151507,7179943,7264877,7359197
3,.Arkansas,3011555,3014195,3028122,3045637
4,.California,39538245,39501653,39142991,39029342
5,.Colorado,5773733,5784865,5811297,5839926
6,.Connecticut,3605942,3597362,3623355,3626205
7,.Delaware,989957,992114,1004807,1018396
8,.District of Columbia,689546,670868,668791,671803
9,.Florida,21538226,21589602,21828069,22244823
10,.Georgia,10711937,10729828,10788029,10912876
11,.Hawaii,1455273,1451043,1447154,1440196
12,.Idaho,1839092,1849202,1904314,1939033
13,.Illinois,12812545,12786580,12686469,12582032
14,.Indiana,6785668,6788799,6813532,6833037
15,.Iowa,3190372,3190571,3197689,3200517
16,.Kansas,2937847,2937919,2937922,2937150
17,.Kentucky,4505893,4507445,4506589,4512310
18,.Louisiana,4657749,4651664,4627098,4590241
19,.Maine,1362341,1363557,1377238,1385340
20,.Maryland,6177213,6173205,6174610,6164660
21,.Massachusetts,7029949,6995729,6989690,6981974
22,.Michigan,10077325,10069577,10037504,10034113
23,.Minnesota,5706504,5709852,5711471,5717184
24,.Mississippi,2961288,2958141,2949586,2940057
25,.Missouri,6154920,6153998,6169823,6177957
26,.Montana,1084197,1087075,1106227,1122867
27,.Nebraska,1961489,1962642,1963554,1967923
28,.Nevada,3104624,3115648,3146402,3177772
29,.New Hampshire,1377518,1378587,1387505,1395231
30,.New Jersey,9289031,9271689,9267961,9261699
31,.New Mexico,2117527,2118390,2116677,2113344
32,.New York,20201230,20108296,19857492,19677151
33,.North Carolina,10439414,10449445,10565885,10698973
34,.North Dakota,779091,779518,777934,779261
35,.Ohio,11799374,11797517,11764342,11756058
36,.Oklahoma,3959346,3964912,3991225,4019800
37,.Oregon,4237291,4244795,4256301,4240137
38,.Pennsylvania,13002689,12994440,13012059,12972008
39,.Rhode Island,1097371,1096345,1096985,1093734
40,.South Carolina,5118429,5131848,5193266,5282634
41,.South Dakota,886677,887799,896164,909824
42,.Tennessee,6910786,6925619,6968351,7051339
43,.Texas,29145428,29232474,29558864,30029572
44,.Utah,3271614,3283785,3339113,3380800
45,.Vermont,643085,642893,646972,647064
46,.Virginia,8631384,8636471,8657365,8683619
47,.Washington,7705247,7724031,7740745,7785786
48,.West Virginia,1793755,1791420,1785526,1775156
49,.Wisconsin,5893725,5896271,5880101,5892539
50,.Wyoming,576837,577605,579483,581381

There is a period before every state name in the Geographic Area column. We need to remove that period.

In [17]:
# Replace the period in the 'Geographic Area' column
df_pop_states['Geographic Area'] = df_pop_states['Geographic Area'].str.replace('.', '', regex=False)

Prepare Quality Scores

In [47]:
df_quality_scores = pd.read_csv("quality_scores_pred.csv")

In [48]:
# 1. Split Article Title column
df_quality_scores['City'] = df_quality_scores['Article Title'].str.rsplit(',', 1).str[0]
df_quality_scores['State'] = df_quality_scores['Article Title'].str.rsplit(',', 1).str[1].str.strip().fillna('')

In [49]:
df_quality_scores

,Article Title,URL,Revision ID,Quality Score Pred,City,State
0,"Abbeville, Alabama","https://en.wikipedia.org/wiki/Abbeville,_Alabama",1171163550,C,Abbeville,Alabama
1,"Adamsville, Alabama","https://en.wikipedia.org/wiki/Adamsville,_Alabama",1177621427,C,Adamsville,Alabama
2,"Addison, Alabama","https://en.wikipedia.org/wiki/Addison,_Alabama",1168359898,C,Addison,Alabama
3,"Akron, Alabama","https://en.wikipedia.org/wiki/Akron,_Alabama",1165909508,GA,Akron,Alabama
4,"Alabaster, Alabama","https://en.wikipedia.org/wiki/Alabaster,_Alabama",1179139816,C,Alabaster,Alabama
...,...,...,...,...,...,...
16341,"Nekoosa, Wisconsin","https://en.wikipedia.org/wiki/Nekoosa,_Wisconsin",1165895012,GA,Nekoosa,Wisconsin
16342,"New Berlin, Wisconsin","https://en.wikipedia.org/wiki/New_Berlin,_Wisc...",1167717133,GA,New Berlin,Wisconsin
16343,"New Holstein, Wisconsin","https://en.wikipedia.org/wiki/New_Holstein,_Wi...",1165895246,GA,New Holstein,Wisconsin
16344,"New Lisbon, Wisconsin","https://en.wikipedia.org/wiki/New_Lisbon,_Wisc...",1165895276,GA,New Lisbon,Wisconsin
16345,"New London, Wisconsin","https://en.wikipedia.org/wiki/New_London,_Wisc...",1171670014,GA,New London,Wisconsin

In [50]:
has_nans = df_quality_scores.isna().any().any()
has_nans

False

In [51]:
df_quality_scores['State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin'], dtype=object)

In [52]:
df_quality_scores

,Article Title,URL,Revision ID,Quality Score Pred,City,State
0,"Abbeville, Alabama","https://en.wikipedia.org/wiki/Abbeville,_Alabama",1171163550,C,Abbeville,Alabama
1,"Adamsville, Alabama","https://en.wikipedia.org/wiki/Adamsville,_Alabama",1177621427,C,Adamsville,Alabama
2,"Addison, Alabama","https://en.wikipedia.org/wiki/Addison,_Alabama",1168359898,C,Addison,Alabama
3,"Akron, Alabama","https://en.wikipedia.org/wiki/Akron,_Alabama",1165909508,GA,Akron,Alabama
4,"Alabaster, Alabama","https://en.wikipedia.org/wiki/Alabaster,_Alabama",1179139816,C,Alabaster,Alabama
...,...,...,...,...,...,...
16341,"Nekoosa, Wisconsin","https://en.wikipedia.org/wiki/Nekoosa,_Wisconsin",1165895012,GA,Nekoosa,Wisconsin
16342,"New Berlin, Wisconsin","https://en.wikipedia.org/wiki/New_Berlin,_Wisc...",1167717133,GA,New Berlin,Wisconsin
16343,"New Holstein, Wisconsin","https://en.wikipedia.org/wiki/New_Holstein,_Wi...",1165895246,GA,New Holstein,Wisconsin
16344,"New Lisbon, Wisconsin","https://en.wikipedia.org/wiki/New_Lisbon,_Wisc...",1165895276,GA,New Lisbon,Wisconsin
16345,"New London, Wisconsin","https://en.wikipedia.org/wiki/New_London,_Wisc...",1171670014,GA,New London,Wisconsin

Region Join

In [53]:
# Copy df_quality_scores to df_region_join
df_region_join = df_quality_scores.copy()

In [54]:
# Merge based on the state
df_region_join = df_region_join.merge(df_regions[['STATE', 'REGION', 'DIVISION']], 
                                      left_on='State', 
                                      right_on='STATE', 
                                      how='left')

In [55]:
# Drop the STATE column as it's redundant
df_region_join.drop('STATE', axis=1, inplace=True)

In [56]:
df_region_join

,Article Title,URL,Revision ID,Quality Score Pred,City,State,REGION,DIVISION
0,"Abbeville, Alabama","https://en.wikipedia.org/wiki/Abbeville,_Alabama",1171163550,C,Abbeville,Alabama,South,East South Central
1,"Adamsville, Alabama","https://en.wikipedia.org/wiki/Adamsville,_Alabama",1177621427,C,Adamsville,Alabama,South,East South Central
2,"Addison, Alabama","https://en.wikipedia.org/wiki/Addison,_Alabama",1168359898,C,Addison,Alabama,South,East South Central
3,"Akron, Alabama","https://en.wikipedia.org/wiki/Akron,_Alabama",1165909508,GA,Akron,Alabama,South,East South Central
4,"Alabaster, Alabama","https://en.wikipedia.org/wiki/Alabaster,_Alabama",1179139816,C,Alabaster,Alabama,South,East South Central
...,...,...,...,...,...,...,...,...
16341,"Nekoosa, Wisconsin","https://en.wikipedia.org/wiki/Nekoosa,_Wisconsin",1165895012,GA,Nekoosa,Wisconsin,Midwest,East North Central
16342,"New Berlin, Wisconsin","https://en.wikipedia.org/wiki/New_Berlin,_Wisc...",1167717133,GA,New Berlin,Wisconsin,Midwest,East North Central
16343,"New Holstein, Wisconsin","https://en.wikipedia.org/wiki/New_Holstein,_Wi...",1165895246,GA,New Holstein,Wisconsin,Midwest,East North Central
16344,"New Lisbon, Wisconsin","https://en.wikipedia.org/wiki/New_Lisbon,_Wisc...",1165895276,GA,New Lisbon,Wisconsin,Midwest,East North Central
16345,"New London, Wisconsin","https://en.wikipedia.org/wiki/New_London,_Wisc...",1171670014,GA,New London,Wisconsin,Midwest,East North Central

In [57]:
# Check for NaN values in each column
nan_counts = df_region_join.isna().sum()

In [58]:
nan_counts

Article Title         0
URL                   0
Revision ID           0
Quality Score Pred    0
City                  0
State                 0
REGION                0
DIVISION              0
dtype: int64

In [59]:
rows_with_nan_in_region = df_region_join[df_region_join['REGION'].isna()]

In [60]:
rows_with_nan_in_region

Empty DataFrame
Columns: [Article Title, URL, Revision ID, Quality Score Pred, City, State, REGION, DIVISION]
Index: []

In [61]:
df_region_join.shape

(16346, 8)

Join Population

In [62]:
# Copy df_region_join to df_region_pop_join
df_region_pop_join = df_region_join.copy()

In [63]:
# Merge the dataframes based on the respective columns
df_region_pop_join = df_region_pop_join.merge(df_pop_states, 
                                             left_on='State', 
                                             right_on='Geographic Area', 
                                             how='left')

In [64]:
# Drop the 'Geographic Area' column as it's redundant after the merge
df_region_pop_join.drop('Geographic Area', axis=1, inplace=True)

In [65]:
df_region_pop_join

,Article Title,URL,Revision ID,Quality Score Pred,City,State,REGION,DIVISION,"April 1, 2020 Estimates Base",2020,2021,2022
0,"Abbeville, Alabama","https://en.wikipedia.org/wiki/Abbeville,_Alabama",1171163550,C,Abbeville,Alabama,South,East South Central,5024356,5031362,5049846,5074296
1,"Adamsville, Alabama","https://en.wikipedia.org/wiki/Adamsville,_Alabama",1177621427,C,Adamsville,Alabama,South,East South Central,5024356,5031362,5049846,5074296
2,"Addison, Alabama","https://en.wikipedia.org/wiki/Addison,_Alabama",1168359898,C,Addison,Alabama,South,East South Central,5024356,5031362,5049846,5074296
3,"Akron, Alabama","https://en.wikipedia.org/wiki/Akron,_Alabama",1165909508,GA,Akron,Alabama,South,East South Central,5024356,5031362,5049846,5074296
4,"Alabaster, Alabama","https://en.wikipedia.org/wiki/Alabaster,_Alabama",1179139816,C,Alabaster,Alabama,South,East South Central,5024356,5031362,5049846,5074296
...,...,...,...,...,...,...,...,...,...,...,...,...
16341,"Nekoosa, Wisconsin","https://en.wikipedia.org/wiki/Nekoosa,_Wisconsin",1165895012,GA,Nekoosa,Wisconsin,Midwest,East North Central,5893725,5896271,5880101,5892539
16342,"New Berlin, Wisconsin","https://en.wikipedia.org/wiki/New_Berlin,_Wisc...",1167717133,GA,New Berlin,Wisconsin,Midwest,East North Central,5893725,5896271,5880101,5892539
16343,"New Holstein, Wisconsin","https://en.wikipedia.org/wiki/New_Holstein,_Wi...",1165895246,GA,New Holstein,Wisconsin,Midwest,East North Central,5893725,5896271,5880101,5892539
16344,"New Lisbon, Wisconsin","https://en.wikipedia.org/wiki/New_Lisbon,_Wisc...",1165895276,GA,New Lisbon,Wisconsin,Midwest,East North Central,5893725,5896271,5880101,5892539
16345,"New London, Wisconsin","https://en.wikipedia.org/wiki/New_London,_Wisc...",1171670014,GA,New London,Wisconsin,Midwest,East North Central,5893725,5896271,5880101,5892539

In [66]:
nan_counts = df_region_pop_join.isna().sum()

In [67]:
nan_counts

Article Title                   0
URL                             0
Revision ID                     0
Quality Score Pred              0
City                            0
State                           0
REGION                          0
DIVISION                        0
April 1, 2020 Estimates Base    0
2020                            0
2021                            0
2022                            0
dtype: int64

We are going to store the population rows that did not get matched to an article row.

In [68]:
# Perform a merge with an indicator
merged = df_pop_states.merge(df_region_join, 
                             left_on='Geographic Area', 
                             right_on='State', 
                             how='left', 
                             indicator=True)

In [69]:
# Filter out rows that didn't find a match in df_region_join
pop_not_merged = merged[merged['_merge'] == 'left_only']

In [70]:
# Keep only the original columns from df_pop_states
pop_not_merged = pop_not_merged[df_pop_states.columns]

In [71]:
pop_not_merged

,Geographic Area,"April 1, 2020 Estimates Base",2020,2021,2022
1966,Connecticut,3605942,3597362,3623355,3626205
2024,District of Columbia,689546,670868,668791,671803
6350,Louisiana,4657749,4651664,4627098,4590241
6351,Maine,1362341,1363557,1377238,1385340
6352,Maryland,6177213,6173205,6174610,6164660
6353,Massachusetts,7029949,6995729,6989690,6981974
9094,Nebraska,1961489,1962642,1963554,1967923
11353,Oklahoma,3959346,3964912,3991225,4019800
11354,Oregon,4237291,4244795,4256301,4240137
16355,Wyoming,576837,577605,579483,581381

In [72]:
df_region_pop_join

,Article Title,URL,Revision ID,Quality Score Pred,City,State,REGION,DIVISION,"April 1, 2020 Estimates Base",2020,2021,2022
0,"Abbeville, Alabama","https://en.wikipedia.org/wiki/Abbeville,_Alabama",1171163550,C,Abbeville,Alabama,South,East South Central,5024356,5031362,5049846,5074296
1,"Adamsville, Alabama","https://en.wikipedia.org/wiki/Adamsville,_Alabama",1177621427,C,Adamsville,Alabama,South,East South Central,5024356,5031362,5049846,5074296
2,"Addison, Alabama","https://en.wikipedia.org/wiki/Addison,_Alabama",1168359898,C,Addison,Alabama,South,East South Central,5024356,5031362,5049846,5074296
3,"Akron, Alabama","https://en.wikipedia.org/wiki/Akron,_Alabama",1165909508,GA,Akron,Alabama,South,East South Central,5024356,5031362,5049846,5074296
4,"Alabaster, Alabama","https://en.wikipedia.org/wiki/Alabaster,_Alabama",1179139816,C,Alabaster,Alabama,South,East South Central,5024356,5031362,5049846,5074296
...,...,...,...,...,...,...,...,...,...,...,...,...
16341,"Nekoosa, Wisconsin","https://en.wikipedia.org/wiki/Nekoosa,_Wisconsin",1165895012,GA,Nekoosa,Wisconsin,Midwest,East North Central,5893725,5896271,5880101,5892539
16342,"New Berlin, Wisconsin","https://en.wikipedia.org/wiki/New_Berlin,_Wisc...",1167717133,GA,New Berlin,Wisconsin,Midwest,East North Central,5893725,5896271,5880101,5892539
16343,"New Holstein, Wisconsin","https://en.wikipedia.org/wiki/New_Holstein,_Wi...",1165895246,GA,New Holstein,Wisconsin,Midwest,East North Central,5893725,5896271,5880101,5892539
16344,"New Lisbon, Wisconsin","https://en.wikipedia.org/wiki/New_Lisbon,_Wisc...",1165895276,GA,New Lisbon,Wisconsin,Midwest,East North Central,5893725,5896271,5880101,5892539
16345,"New London, Wisconsin","https://en.wikipedia.org/wiki/New_London,_Wisc...",1171670014,GA,New London,Wisconsin,Midwest,East North Central,5893725,5896271,5880101,5892539

In [74]:
# Assuming you've already read/created the dataframe
df_region_pop_join = df_region_pop_join.drop(columns=['April 1, 2020 Estimates Base', 2020, 2021])

In [78]:
# Rename the column
df_region_pop_join = df_region_pop_join.rename(columns={2022: 'population'})

In [79]:
df_region_pop_join

,Article Title,URL,Revision ID,Quality Score Pred,City,State,REGION,DIVISION,population
0,"Abbeville, Alabama","https://en.wikipedia.org/wiki/Abbeville,_Alabama",1171163550,C,Abbeville,Alabama,South,East South Central,5074296
1,"Adamsville, Alabama","https://en.wikipedia.org/wiki/Adamsville,_Alabama",1177621427,C,Adamsville,Alabama,South,East South Central,5074296
2,"Addison, Alabama","https://en.wikipedia.org/wiki/Addison,_Alabama",1168359898,C,Addison,Alabama,South,East South Central,5074296
3,"Akron, Alabama","https://en.wikipedia.org/wiki/Akron,_Alabama",1165909508,GA,Akron,Alabama,South,East South Central,5074296
4,"Alabaster, Alabama","https://en.wikipedia.org/wiki/Alabaster,_Alabama",1179139816,C,Alabaster,Alabama,South,East South Central,5074296
...,...,...,...,...,...,...,...,...,...
16341,"Nekoosa, Wisconsin","https://en.wikipedia.org/wiki/Nekoosa,_Wisconsin",1165895012,GA,Nekoosa,Wisconsin,Midwest,East North Central,5892539
16342,"New Berlin, Wisconsin","https://en.wikipedia.org/wiki/New_Berlin,_Wisc...",1167717133,GA,New Berlin,Wisconsin,Midwest,East North Central,5892539
16343,"New Holstein, Wisconsin","https://en.wikipedia.org/wiki/New_Holstein,_Wi...",1165895246,GA,New Holstein,Wisconsin,Midwest,East North Central,5892539
16344,"New Lisbon, Wisconsin","https://en.wikipedia.org/wiki/New_Lisbon,_Wisc...",1165895276,GA,New Lisbon,Wisconsin,Midwest,East North Central,5892539
16345,"New London, Wisconsin","https://en.wikipedia.org/wiki/New_London,_Wisc...",1171670014,GA,New London,Wisconsin,Midwest,East North Central,5892539

In [83]:
# Copy the dataframe
df_output = df_region_pop_join.copy()

In [84]:
# Keep only the desired columns
df_output = df_output[['Revision ID', 'Quality Score Pred', 'State', 'DIVISION', 'population', 'Article Title']]

In [85]:
df_output

,Revision ID,Quality Score Pred,State,DIVISION,population,Article Title
0,1171163550,C,Alabama,East South Central,5074296,"Abbeville, Alabama"
1,1177621427,C,Alabama,East South Central,5074296,"Adamsville, Alabama"
2,1168359898,C,Alabama,East South Central,5074296,"Addison, Alabama"
3,1165909508,GA,Alabama,East South Central,5074296,"Akron, Alabama"
4,1179139816,C,Alabama,East South Central,5074296,"Alabaster, Alabama"
...,...,...,...,...,...,...
16341,1165895012,GA,Wisconsin,East North Central,5892539,"Nekoosa, Wisconsin"
16342,1167717133,GA,Wisconsin,East North Central,5892539,"New Berlin, Wisconsin"
16343,1165895246,GA,Wisconsin,East North Central,5892539,"New Holstein, Wisconsin"
16344,1165895276,GA,Wisconsin,East North Central,5892539,"New Lisbon, Wisconsin"
16345,1171670014,GA,Wisconsin,East North Central,5892539,"New London, Wisconsin"

In [91]:
# Rename the columns
df_output = df_output.rename(columns={
    'State': 'state',
    'DIVISION': 'regional_division',
    'Article Title': 'article_title',
    'Revision ID': 'revision_id',
    'Quality Score Pred': 'article_quality'
})

In [92]:
# Reorder the columns
df_output = df_output[['state', 'regional_division', 'population', 'article_title', 'revision_id', 'article_quality']]

In [93]:
df_output

,state,regional_division,population,article_title,revision_id,article_quality
0,Alabama,East South Central,5074296,"Abbeville, Alabama",1171163550,C
1,Alabama,East South Central,5074296,"Adamsville, Alabama",1177621427,C
2,Alabama,East South Central,5074296,"Addison, Alabama",1168359898,C
3,Alabama,East South Central,5074296,"Akron, Alabama",1165909508,GA
4,Alabama,East South Central,5074296,"Alabaster, Alabama",1179139816,C
...,...,...,...,...,...,...
16341,Wisconsin,East North Central,5892539,"Nekoosa, Wisconsin",1165895012,GA
16342,Wisconsin,East North Central,5892539,"New Berlin, Wisconsin",1167717133,GA
16343,Wisconsin,East North Central,5892539,"New Holstein, Wisconsin",1165895246,GA
16344,Wisconsin,East North Central,5892539,"New Lisbon, Wisconsin",1165895276,GA
16345,Wisconsin,East North Central,5892539,"New London, Wisconsin",1171670014,GA

In [94]:
df_output.to_csv('wp_scored_city_articles_by_state.csv', index=False)